nfe-xsd/CAD_v1/sistema_v1.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by mtmarcolino (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.portalfiscal.inf.br/nfe" targetNamespace="http://www.portalfiscal.inf.br/nfe" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="TCodUfIBGE">
		<xs:annotation>
			<xs:documentation>Tipo Código da UF da tabela do IBGE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="33"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="51"/>
			<xs:enumeration value="52"/>
			<xs:enumeration value="53"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCodMunIBGE">
		<xs:annotation>
			<xs:documentation>Tipo Código do Município da tabela do IBGE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCnpj">
		<xs:annotation>
			<xs:documentation>Tipo Número do CNPJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCnpjOpc">
		<xs:annotation>
			<xs:documentation>Tipo Número do CNPJ Opcional</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{0}|[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCpf">
		<xs:annotation>
			<xs:documentation>Tipo Número do CPF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_0302">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 5 dígitos, sendo 3 de corpo e 2 decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,2}(\.[0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_0302Opc">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 5 dígitos, sendo 3 de corpo e 2 decimais, utilizado em tags opcionais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0\.[0-9]{1}[1-9]{1}|0\.[1-9]{1}[0-9]{1}|[1-9]{1}[0-9]{0,2}(\.[0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_0804">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 12 dígitos, sendo 8 de corpo e 4decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{4}|[1-9]{1}[0-9]{0,7}(\.[0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_1204">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 16 dígitos, sendo 12 de corpo e 4 decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{4}|[1-9]{1}[0-9]{0,11}(\.[0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_1302">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 15 dígitos, sendo 13 de corpo e 2 decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,12}(\.[0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIeDest">
		<xs:annotation>
			<xs:documentation>Tipo Inscrição Estadual Destinatário</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:minLength value="0"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIe">
		<xs:annotation>
			<xs:documentation>Tipo Inscrição Estadual</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:maxLength value="14"/>
			<xs:minLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TUf">
		<xs:annotation>
			<xs:documentation>Tipo Sigla da UF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="AC"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AM"/>
			<xs:enumeration value="AP"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="CE"/>
			<xs:enumeration value="DF"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="GO"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MG"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="PB"/>
			<xs:enumeration value="PE"/>
			<xs:enumeration value="PI"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="RJ"/>
			<xs:enumeration value="RN"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="RR"/>
			<xs:enumeration value="RS"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SP"/>
			<xs:enumeration value="TO"/>
			<xs:enumeration value="EX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TString">
		<xs:annotation>
			<xs:documentation> Tipo string genérico</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Torig">
		<xs:annotation>
			<xs:documentation>Tipo Origem da mercadoria CST ICMS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TVerSis">
		<xs:annotation>
			<xs:documentation> Tipo Versão do Sistema - 1.01</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="1\.01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TEnderecoEmit">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xLgr">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun">
				<xs:annotation>
					<xs:documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf">
				<xs:annotation>
					<xs:documentation>Sigla da UF, , informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do país</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do país</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Telefone</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value="[0-9]{1,10}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEnderecoDest">
		<xs:annotation>
			<xs:documentation>Tipo Dados do Endereço</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="xLgr" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Logradouro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nro" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Número</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xCpl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complemento</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xBairro" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bairro</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cMun" type="TCodMunIBGE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do município (utilizar a tabela do IBGE), informar 9999999 para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xMun" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do município, , informar EXTERIOR para operações com o exterior.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UF" type="TUf" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sigla da UF, , informar EX para operações com o exterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CEP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CEP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value="[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Código do país</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xPais" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nome do país</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="TString">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Telefone</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:pattern value="[0-9]{1,10}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="emit">
		<xs:annotation>
			<xs:documentation>Identificação do emitente</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="CNPJ" type="TCnpj">
						<xs:annotation>
							<xs:documentation>Número do CNPJ do emitente</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CPF" type="TCpf">
						<xs:annotation>
							<xs:documentation>Número do CPF do emitente</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="xNome">
					<xs:annotation>
						<xs:documentation>Razão Social ou Nome do emitente</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:maxLength value="60"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="xFant" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nome fantasia</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:maxLength value="60"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enderEmit" type="TEnderecoEmit">
					<xs:annotation>
						<xs:documentation>Endereço do emitente</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IE" type="TIeDest">
					<xs:annotation>
						<xs:documentation>Inscrição Estadual</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IEST" type="TIe" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Inscricao Estadual do Substituto Tributário</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence minOccurs="0">
					<xs:annotation>
						<xs:documentation>Grupo de informações de interesse da Prefeitura</xs:documentation>
					</xs:annotation>
					<xs:element name="IM">
						<xs:annotation>
							<xs:documentation>Inscrição Municipal</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:minLength value="1"/>
								<xs:maxLength value="15"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CNAE">
						<xs:annotation>
							<xs:documentation>CNAE Fiscal</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:pattern value="[0-9]{7}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dest">
		<xs:annotation>
			<xs:documentation>Identificação do Destinatário  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="CNPJ" type="TCnpjOpc">
						<xs:annotation>
							<xs:documentation>Número do CNPJ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CPF" type="TCpf">
						<xs:annotation>
							<xs:documentation>Número do CPF</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="xNome">
					<xs:annotation>
						<xs:documentation>Razão Social ou nome do destinatário</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:maxLength value="60"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="enderDest" type="TEnderecoDest" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dados do endereço</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IE" type="TIeDest" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Inscrição Estadual (obrigatório nas operações com contribuintes do ICMS)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ISUF" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Inscrição na SUFRAMA (Obrigatório nas operações com as áreas com benefícios de incentivos fiscais sob controle da SUFRAMA)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:minLength value="1"/>
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="det">
		<xs:annotation>
			<xs:documentation>Dados dos detalhes da NF-e</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="prod">
					<xs:annotation>
						<xs:documentation>Dados dos produtos e serviços da NF-e</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cProd">
								<xs:annotation>
									<xs:documentation>Código do produto ou serviço. Preencher com CFOP caso se trate de itens não relacionados com mercadorias/produto e que o contribuinte não possua codificação própria
Formato ”CFOP9999”.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="60"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cEAN" minOccurs="0">
								<xs:annotation>
									<xs:documentation>GTIN (Global Trade Item Number) do produto, antigo código EAN ou código de barras</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:pattern value="[0-9]{0}|[0-9]{8}|[0-9]{12,14}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="xProd">
								<xs:annotation>
									<xs:documentation>Descrição do produto ou serviço</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="120"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NCM" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Código NCM (8 posições)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:pattern value="[0-9]{8}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EXTIPI" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Código EX TIPI (3 posições)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:pattern value="[0-9]{2,3}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="genero" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Gênero do produto ou serviço. Preencher de acordo com a Tabela de Capítulos da NCM. Em caso de serviço, não incluir a TAG.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:pattern value="[0-9]{1,2}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="uCom" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unidade comercial</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="6"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="cEANTrib" minOccurs="0">
								<xs:annotation>
									<xs:documentation>GTIN (Global Trade Item Number) da unidade tributável, antigo código EAN ou código de barras</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:pattern value="[0-9]{0}|[0-9]{8}|[0-9]{12,14}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="uTrib" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Unidade Tributável</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="6"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="qTrib" type="TDec_0804">
								<xs:annotation>
									<xs:documentation>Quantidade Tributável</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="vUnCom" type="TDec_1204">
								<xs:annotation>
									<xs:documentation>Valor unitário de comercialização</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="vUnTrib" type="TDec_1204">
								<xs:annotation>
									<xs:documentation>Valor unitário de tributação</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="imposto" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tributos incidentes nos produtos ou serviços da NF-e</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ICMS" minOccurs="0" maxOccurs="11">
								<xs:annotation>
									<xs:documentation>Dados do ICMS Normal e ST</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="orig" type="Torig" minOccurs="0">
											<xs:annotation>
												<xs:documentation>origem da mercadoria: 0 - Nacional 
1 - Estrangeira - Importação direta 
2 - Estrangeira - Adquirida no mercado interno 
</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CST">
											<xs:annotation>
												<xs:documentation>Tributção pelo ICMS
90 - Outras</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:enumeration value="00"/>
													<xs:enumeration value="10"/>
													<xs:enumeration value="20"/>
													<xs:enumeration value="30"/>
													<xs:enumeration value="40"/>
													<xs:enumeration value="41"/>
													<xs:enumeration value="50"/>
													<xs:enumeration value="51"/>
													<xs:enumeration value="60"/>
													<xs:enumeration value="70"/>
													<xs:enumeration value="90"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="modBC" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modalidade de determinação da BC do ICMS: 
0 - Margem Valor Agregado (%);
1 - Pauta (valor);
2 - Preço Tabelado Máximo (valor);
3 - Valor da Operação.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:enumeration value="0"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="pRedBC" type="TDec_0302Opc" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Percentual de redução da BC</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="pICMS" type="TDec_0302" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Alíquota do ICMS</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="pICMSST" type="TDec_0302" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Alíquota do ICMS ST</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="modBCST" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Modalidade de determinação da BC do ICMS ST:
0 – Preço tabelado ou máximo  sugerido;
1 - Lista Negativa (valor);
2 - Lista Positiva (valor);
3 - Lista Neutra (valor);
4 - Margem Valor Agregado (%);
5 - Pauta (valor).</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:enumeration value="0"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="pMVAST" type="TDec_0302Opc" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Percentual da Margem de Valor Adicionado ICMS ST</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IPI" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Dados do IPI</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="clEnq" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Classe de Enquadramento do IPI para Cigarros e Bebidas</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:minLength value="1"/>
													<xs:maxLength value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CNPJProd" type="TCnpj" minOccurs="0">
											<xs:annotation>
												<xs:documentation>CNPJ do produtor da mercadoria, quando diferente do emitente. Somente para os casos de exportação direta ou indireta.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="cEnq" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Código de Enquadramento Legal do IPI (tabela a ser criada pela RFB)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:token">
													<xs:minLength value="1"/>
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="transporta">
		<xs:annotation>
			<xs:documentation>Dados do transportador</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0">
					<xs:element name="CNPJ" type="TCnpj">
						<xs:annotation>
							<xs:documentation>CNPJ do transportador</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CPF" type="TCpf">
						<xs:annotation>
							<xs:documentation>CPF do transportador</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="xNome">
					<xs:annotation>
						<xs:documentation>Razão Social ou nome</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:maxLength value="60"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IE" type="TIe" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Inscrição Estadual</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="xEnder" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Endereço completo</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="xMun" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nome do munícipio</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="TString">
							<xs:maxLength value="60"/>
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="UF" type="TUf" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Sigla da UF</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sistema">
		<xs:annotation>
			<xs:documentation>Dados para importação e exportação dos registros do Emissor de NF-e</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="emit"/>
				<xs:element ref="dest"/>
				<xs:element ref="det"/>
				<xs:element ref="transporta"/>
			</xs:choice>
			<xs:attribute name="versao" type="TVerSis" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
